body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif !important;
    outline: none;
    text-decoration: none;
}

div.Facts_about_me {
    background: url('https://images.wallpaperscraft.ru/image/les_derevya_tuman_110131_1920x1080.jpg') no-repeat center 40%;
    background-size: cover;
    -webkit-background-size: cover;
}

div.Container {
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    padding: 40px 0 40px 0;
}

div.Name_of_page {
    font-size: 35px;
    color: #f2f3f4;
    margin-left: 10px;
}

div.Main {
    margin: 10px 10px;
    padding: 0px;
    height: auto;
    margin-bottom: 70px;
}

.Opinion {
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
}

.Introduction {
    font-size: 23px;
    color: #9ca8bc;
    text-align: center;
    margin-top: 10px;
}

.Table {
    display: flex;
    height: auto;
    margin-top: 10px;
    font-size: 23px;
    color: #9ca8bc;
    text-align: center;
}

.Films {
    flex-basis: 33%;
    margin: 0;
    background-color: #dcdfe2;
}

.Books {
    flex-basis: 34%;
    margin: 0;
    background-color: #eaeef2;
}

.Music {
    flex-basis: 33%;
    margin: 0;
    background-color: #dcdfe2;
}

div.Table ul {
    list-style-type: none;
    padding: 0;
}

div.Life {
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    color: #9ca8bc;
}

div.StartOfArt {
    font-family: 'Cinzel', serif;
    font-size: 35px;
    color: #9ca8bc;
    border-bottom: solid #9ca8bc 3px;
    padding-top: 10px;
    padding-left: 10px;
}

div.Pic_Life {
    background: url('images/fog.jpg') no-repeat center center;
    border: solid #9ca8bc 1px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-size: auto 250px;
    float: left;
    clear: both;
    margin: 20px 10px 0px 10px;
}

div.Hobby {
    font-size: 23px;
    color: #9ca8bc;
    padding-top: 60px;
}

div.Clear {
    clear: both;
}

.Skills {
    font-size: 23px;
    color: #9ca8bc;
    padding-left: 10px;
    padding-right: 10px;
}

.pr {
    height: 50px !important;
}

.progress-bar {
    background-color: #95a6c1 !important;
}

.talkbubble {
    width: auto;
    padding: 5px 10px 5px 10px;
    min-height: 40px;
    background: #d9dbdd;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float: left;
    text-align: center;
    font-size: 25px;
    color: #9ca8bc;
    margin-left: 27px;
}

.talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #d9dbdd;
    border-bottom: 13px solid transparent;
}

footer {
    background: url('images/mount.jpeg') no-repeat 60% 40%;
    background-size: cover;
    -webkit-background-size: cover;
}

div.VK_INST {
    text-align: center;
}

a.vk {
    color: #95a6c1;
    border: none;
    outline: none;
    width: 50px;
    margin-right: 20px;
    text-decoration: none;
    transition-duration: 2s;
}

a.inst {
    color: #95a6c1;
    border: none;
    outline: none;
    width: 50px;
    text-decoration: none;
    transition-duration: 2s;
}

div.ComeBack {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

a.linksStyle {
    text-decoration: none !important;
    color: #5b616b !important;
    border: solid 3px #86a0b6;
    padding: 10px;
    transition: transform 0.5s
}

a.linksStyle:hover {
    transform: scale(1.05);
}

@media all and (max-width: 992px) {
    div.Container {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    div.Main {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    div.Table {
        flex-direction: column;
        font-size: 17px;
    }

    .Films {
        flex-basis: 100%;
    }

    .Books {
        flex-basis: 100%;
    }

    .Music {
        flex-basis: 100%;
    }

    progress {
        width: 80%;
        margin-bottom: 10px;
    }

    .Name_of_page {
        text-align: center;
    }

    .Introduction {
        font-size: 16px;
    }

    div.Pic_Life {
        float: none;
        margin: 10px auto;
    }

    div.Hobby {
        padding-top: 10px;
    }
}

@media all and (max-width: 733px) {
    progress {
        width: 50%;
        margin-bottom: 10px;
    }
}

a.vk:hover {
    color: white;
}

a.inst:hover {
    color: white;
}